/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");

/*Custom Style */

.reset_btn_contact_form_7 {
    border: 0;
    font-size: 19px;
    border-color: #fff;
    color: #818181;
    border: none;
    outline: none;
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    font-family: Muli;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f1f1f1;
}
.reset_btn_contact_form_7:active {
    color: #444;
    background-color: #bdbdbd;
}

.static_page p {
    margin-bottom: 10px;
    margin-top: 2px;
    font-size: 16px;
}

.static_page h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
}
.static_page h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}
.static_page li {
    font-size: 16px;
}
.static_page a {
    color: #e1b03e;
}
.static_page ul {
    list-style-position: outside;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.static_page span {
    margin-right: 4px;
    color: #e1b03e
}

.wpcf7-form-control-wrap.btn-group .wpcf7-form-control{
    margin-top: 20px;
}

div.wpcf7-response-output {
    background: #e1b03e;
    font-size: 12px;
    line-height: 20px;
}

#custom_html-5 .q_icon_with_title .icon_text_inner {
    padding: 0;
}

.qode_google_map p {
    color: #000;
}
.project_name_title {
    margin-top: 113px;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgba(151, 151, 151, 0.498);
    padding: 6px 5%;
    text-transform: uppercase;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none solid rgb(0, 0, 0);
}
.project_name_body {
    height: 1710px;
    background-color: #fff;
}
.project_name_title_div {
}

.project_main_image_div {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 1% 5%;
    text-align: center;
}
#back_to_top > span {
    background-color: #ff8c00;
    border-color: #ff8c00;
    border-width: 1px;
    border-style: solid;
}
#back_to_top span i, #back_to_top span span {
    color: #fff;
}